.shop-container{
   display:grid;
   grid-template-columns: 3fr 1fr;
}

.product-container{
   border-right: 2px solid darkgrey;
   margin-left:50px;
   border-bottom: 2px solid darkgrey;
}
.cart-container{
   margin-left: 20px;
   text-align: center;
}